# Generative Flow Networks (GFN) with Trajectory Balance (TB) loss
name: gfn_tb
step_size: ${target.gfn_tb.step_size}
batch_size: ${target.all.batch_size}
iters: 40000
num_steps: 128
grad_clip: 1.
loss_type: "tb"  # lv or tb
init_logZ: ${target.gfn_tb.init_logZ}
logZ_step_size: ${target.gfn_tb.logZ_step_size}
reference_process: pinned_brownian  # ou or pinned_brownian
init_std: ${target.gfn_tb.init_std}  # for ou
max_diffusion: ${target.gfn_tb.max_diffusion}  # for pinned_brownian or ou
noise_scale: ${target.gfn_tb.noise_scale}  # for ou_dds

defaults:
  - model: pisgrad_net
  - noise_schedule: const

model:
  use_lp: True
  num_hid: 64
  weight_init: 1e-8  # Initialization of the last layers' weights of the time-dependent network
  bias_init: 1e-1  # Initialization of the last layers' bias of the time-dependent network

noise_schedule:
  reverse: False

buffer:
  use_buffer: True
  max_length_in_batches: 100
  prioritize_by: "piw"  # none, reward, loss, uiw, piw
  target_ess: 0.10
  sampling_method: "systematic"  # multinomial, stratified, systematic, rank
  rank_k: 0.01  # only used if sampling_method is rank
  sample_with_replacement: True
  prefill_steps: 10  # collect `prefill_steps` batches before starting training
  bwd_to_fwd_ratio: 1  # number of bwd steps per fwd step
  update_score: False