# Time-reversed Diffusion Sampler (DIS)
name: pis
step_size: ${target.pis.step_size}
batch_size: ${target.all.batch_size}
iters: ${target.all.iters}
num_steps: ${target.all.num_steps}
loss: "elbo"  # Currently only supports 'elbo'
grad_clip: 1.
max_diffusion: ${target.pis.max_diffusion}

# Learning rate scheduler
lr_schedule:
  type: multistep  # multistep | cosine | constant
  milestones: [20000, 30000]  # iteration indices at which to decay
  gamma: 0.3  # multiply LR by gamma at each milestone

defaults:
  - model: pisgrad_net
  - noise_schedule: const

model:
  use_lp: ${target.all.use_lp}
  num_hid: ${target.all.num_hid}
  bias_init: 0.1  # Initialization of the last layers' bias of the time-dependent network
  weight_init: 1e-8  # Initialization of the last layers' weights of the time-dependent network

noise_schedule:
  reverse: False
