name: funnel
dim: 10
has_entropy: False

fn:
  _target_: targets.funnel.Funnel
  dim: ${target.dim}
  log_Z: 0.
  can_sample: True
  sample_bounds: [-30, 30]

# Experiment-specific algorithm parameters
# ----------------------------------------

mfvi: # Gaussian Mean Field Variational Inference
  init_std: 1.
  step_size: 1e-2

gmmvi: # Gaussian Mixture Model Variational Inference
  init_std: .1

nfvi: # Normalizing Flow Variational Inference
  init_std: 1.
  step_size: 1e-3

hmc:  # Hamilton Monte Carlo
  hmc_step_size: [0.001, 0.1]

smc: # Sequential Monte Carlo Sampler
  init_std: 1.

smc_advanced:
  init_std: 1.
  target_ess: 0.99
  hmc_step_size: [0.1, 0.2]

flow_transport: # Flow Transport Methods (AFT/CRAFT)
  init_std: 1.
  step_size: 1e-3

fab: # Flow Annealed Importance Sampling Bootstrap
  init_std: 1.
  step_size: 1e-4

ud_langevin:  # Underdamped Langevin Methods (UHA/LDVI)
  max_diffusion: 1.
  init_std: 1.
  step_size: 5e-4

od_langevin:  # Overdamped Langevin Methods (ULA/MCD)
  max_diffusion: 10.
  init_std: 1.
  step_size: 5e-4

cmcd:  # Controlled Monte Carlo Diffusions
  max_diffusion: 1.
  init_std: 1.
  step_size: 5e-4

scld:
  max_diffusion: 1. 
  init_std: 1.
  step_size: 1e-3
  annealing_step_size: 1e-2
  n_sub_traj: 128

dis: # Time-reversed Diffusion Sampler
  init_std: 1.
  step_size: 5e-4

gbs:  # General Bridge Sampler
  max_diffusion: 1.
  init_std: 1.
  step_size: 5e-4

############# HYPERPARAMETERS USED IN OUR PAPER #############
# These can be slightly different from the original settings

pis: # Path Integral Sampler
  max_diffusion: 1.
  step_size: 1e-3

dds: # Denoising Diffusion Sampler
  init_std: 1.
  step_size: 1e-3

gfn_tb: # Trajectory Balance
  reference_process: ou_dds  # pinned_brownian, ou, or ou_dds
  init_std: 1.  # for ou or ou_dss
  max_diffusion: 1.  # for pinned_brownian or ou
  step_size: 1e-3
  logZ_step_size: 1e-1
  init_logZ: 0.

gfn_subtb: # Sub-Trajectory Balance
  reference_process: ou_dds  # pinned_brownian, ou, or ou_dds
  init_std: 1.  # for ou or ou_dds
  max_diffusion: 1.  # for pinned_brownian or ou
  n_chunks: 16
  step_size: 1e-3
  logflow_step_size: 1e-3
  beta_step_size: 1e-1
  logZ_step_size: 1e-1  # for ou or ou_dds
  init_logZ: 0.  # for ou or ou_dds
  mcmc_step_size: 0.2

all: # Parameters that are shared between all algorithms
  batch_size: 2000
  iters: 20000
  milestones: [10000, 15000]
  num_steps: 64
  use_lp: False
  num_hid: 256